body {
  font-size: 13px;
  line-height: 1.4;
  font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #333;
}
div {
  display: block;
}
.top-container {
  box-sizing: border-box;
}
.middle-container {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
}
.column {
  padding-right: 10px;
  padding-left: 10px;
}
.left {
  float: left;
  width: 25%;
}
.right {
  width: 75%;
}
img {
  border: 0;
}
.avatar {
  border-radius: 6px;
}
