* {
  box-sizing: border-box;
}
body {
  font-size: 13px;
  line-height: 1.4;
  font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #333;
  word-wrap: break-word;
}
div {
  display: block;
}
a {
  color: #4078c0;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
}
h1 {
  font-size: 30px;
}
h3 {
  font-size: 16px;
}
ul, ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.middle-container {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
}
.columns {
  margin-right: -10px;
  margin-left: -10px;
}
.column {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}
.left {
  width: 25%;
}
.right {
  width: 75%;
}
img {
  border: 0;
}
.avatar {
  border-radius: 6px;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
}
.card-name {
  margin-top: 5px;
  line-height: 1;
}
.fullname {
  display: block;
  overflow: hidden;
  width: 100%;
  font-size: 26px;
  line-height: 30px;
  text-overflow: ellipsis;
}
.username {
  display: block;
  overflow: hidden;
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
}
.card-details {
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #eee;
}
.card-detail {
  width: 100%;
  padding: 2px 0 2px 24px;
  overflow-x: hidden;
  white-space: nowrap;
  font-size: 14px;
  text-overflow: ellipsis;
}
.card-stats {
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.card-stat {
  float: left;
  width: 33.333%;
  font-size: 11px;
  text-transform: capitalize;
}
.card-stat-count {
  display: block;
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
}
.text-muted {
  color: #767676;
}
.nav-tabs {
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.nav-right {
  float: right;
}
.half {
  width: 50%;
}
.section {
  background-color: #f5f5f5;
  margin: 0;
  border-radius: 3px 3px 0 0;
  border: 1px solid #d8d8d8;
  border-bottom: 0;
  padding: 9px 10px 10px;
  font-size: 14px;
  line-height: 17px;
  display: block;
}
